@CHARSET "UTF-8";

.white_35_button {
    display : inline-block;
	height: 35px;
	line-height: 35px;
	color: #666666;
	background-color: #ffffff;
	border: 1px solid #cfcfcf;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.gray_35_button {
    display : inline-block;
	height: 35px;
	line-height: 35px;
	color: #ffffff;
	background-color: #9b9b9b;
	border: 1px solid #9b9b9b;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.red_35_button {
    display : inline-block;
	height: 35px;
	line-height: 35px;
	color: #ffffff;
	background-color: #ff735d;
	border: 1px solid #ff735d;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.white_47_button {
    display : inline-block;
	height: 47px;
	line-height: 47px;
	color: #666666;
	background-color: #ffffff;
	border: 1px solid #cfcfcf;
	padding-left: 36px;
	padding-right: 36px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
}

.red_47_button {
    display : inline-block;
	height: 47px;
	line-height: 47px;
	color: #ffffff;
	background-color: #ff735d;
	border: 1px solid #ff735d;
	padding-left: 36px;
	padding-right: 36px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
}


.gray_42_button {
    display : inline-block;
	height: 47px;
	line-height: 47px;
    color: #ffffff;
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}


.white_42_button {
    display : inline-block;
	display : inline-block;
	height: 42px;
	line-height: 42px;
	color: #666666;
	background-color: #ffffff;
	border: 1px solid #cfcfcf;
	padding-left: 29px;
	padding-right: 29px;
	font-weight: bold;
	cursor: pointer;
}

.red_42_button {
    display : inline-block;
	height: 42px;
	line-height: 42px;
	color: #ffffff;
	background-color: #ff735d;
	border: 1px solid #ff735d;
	padding-left: 29px;
	padding-right: 29px;
	font-weight: bold;
	cursor: pointer;
}

.purchase {
	background-color: #ff735d;
	height: 32px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border: 0px;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 24px;
	cursor: pointer;
}

.basket {
	background-color: #0acfd3;
	height: 32px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border: 0px;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 24px;
}

.purchase_common {
	background-color: #ff735d;
	height: 32px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border: 0px;
	cursor: pointer;
	padding-left: 27px;
	padding-right: 27px;
}

.basket_common {
  background-color: #0acfd3;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
  padding-left: 27px;
  padding-right: 27px;
}

.login_btn {
  width: 106px;
  height: 92px;
  font-size:14px;
  font-weight:bold;
  line-height: 92px;
  color: #ffffff;
  background-color: #ff735d;
  border: 1px solid #ff735d;
  cursor: pointer;
}

